
div{
    color:rgb(77, 209, 77);
    text-align: center;

}

#img{
    height:170px;
    width:270px;
}

#nomes{
    text-align: center;
    border-radius: 15px;
    height: 40px;
}

#enviar{
    border-radius: 15px;
    background-color: rgb(43, 43, 194);
    width: 70px;
    height: 40px;
    color:rgb(45, 129, 129);
}

#sortear{
    border-radius: 15px;
    background-color: green;
    width: 150px;
    height: 40px;
    color:rgb(29, 141, 141);
}
